body {
  background-color: #fff7ae;
  margin: 0;
  font-family: georgia, serif;
  font-size: 24px;
  text-align: center;
  line-height: 2;

}

h1 {
  display: inline-block;
  text-align: center;
  font-family:brush script mt, cursive;
  font-size: 100px;
  margin: auto auto 10px auto;
}

.tain {
  width: 500px;
  height: 500px;
}

.mon {
  height: 400px;
  width: 400px;
}

.div {
  background-color: lightblue;
  text-align: center;
}

.nerd {
  margin: 60 auto 60 auto;
  width: 45%
}
.skill{
  width: 35%;
  margin: 200px auto;
  font-size: 16px;
}
h3 {
  color: #39a2db;
  font-weight: 900;
}
.mathimg{
  width: 35%;
float: left;
margin-top: 15px;
}
.codeimg{
  width: 35%;
  float: right;
  margin-top: 0;
}
.pen{
  margin: 200px auto;
}

.pencil {
  height: 100px;
  width: 100px;
  margin-bottom: -40px
}
img{
  margin: 50px;
  width: 50%;
}
.lastdiv{
  margin: 0;
  background-color: brown;
  height: 200px;
  padding-top: 20px;

}
button{
  margin: auto auto 25px auto;
  background-color: #39a2db;
  font-size: 20px;
  border: solid 4px;
  color: white;
  border-style: ridge;
}
button:hover{
  color: brown;
}
a{
  margin: 30px 20px;
  color: white;
  text-decoration: none;
}
a:hover{
  color: lightgreen;
}
